
    button,
    div,
    form,
    input {
      margin: 10px;
    }
    img{
      
      display: inline-block;
      border: 1px solid red;
      border-radius: 15px;
      padding: 1px;
      margin: 5px 0 5px 0
      
    }
    #animalWindow{
       height: auto; 
        min-width:640px; 
       background-color: #f5f5dc;
       min-width: 220px;
       float: left;
       margin-left: 10px
    }

    #animals-view{
      background-color: #e0ffff;
    }

    .imgState{
       float: left;
    }
    #form{
      height: 100px;  
      min-width: 100px; 
      max-width:300px; 
      width:auto ; 
      float: left; 
      margin-left: 10px;
    }

    #fail{
     background-color: red;
      color: white;
    }

    #warning{
       background-color: yellow; 
       color: #4aaaae 
    }
  
  
 